<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <context-param>
  <param-name>driver</param-name>
  <param-value>dm.jdbc.driver.DmDriver</param-value>
 </context-param>
 <context-param>
  <param-name>url</param-name>
  <param-value>jdbc:dm://192.168.0.100:5236</param-value>
 </context-param>
 <context-param>
  <param-name>user</param-name>
  <param-value>SYSDBA</param-value>
 </context-param>
 <context-param>
  <param-name>pwd</param-name>
  <param-value>sysdba</param-value>
 </context-param>
 <context-param>
  <param-name>ORACLEdriver</param-name>
  <param-value>oracle.jdbc.driver.OracleDriver</param-value>
 </context-param>
 <context-param>
  <param-name>ORACLEurl</param-name>
  <param-value>jdbc:oracle:thin:@192.168.0.102:1521/orcl</param-value>
 </context-param>
 <context-param>
  <param-name>ORACLEuser</param-name>
  <param-value>system</param-value>
 </context-param>
 <context-param>
  <param-name>ORACLEpwd</param-name>
  <param-value>orcl</param-value>
 </context-param>
 <context-param>
  <param-name>noOfFileUpload</param-name>
  <param-value>100</param-value>
 </context-param>
 <context-param>
  <param-name>tempWorkDir</param-name>
  <param-value>tempDir</param-value>
 </context-param>
 <context-param>
  <param-name>tempCalDir</param-name>
  <param-value>tempCalDir</param-value>
 </context-param>
 <servlet>
  <servlet-name>ExportServlet</servlet-name>
  <servlet-class>DataQuery.ExportServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>ExportServlet</servlet-name>
  <url-pattern>/DataQuery/ExportServlet</url-pattern>
 </servlet-mapping>
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
